// @import './Navbar.scss';
@import './Homepage.scss';
@import './Cardlist.scss';
@import './Card.scss';
@import 'bootstrap/scss/bootstrap';





.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}


