@import './Navbar.scss';
@import './Homepage.scss';
@import 'bootstrap/scss/bootstrap';


* {
  padding: 0;
  margin: 0 auto;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.m-auto {
  margin: auto;
}


