.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100vw;
  background-color: black;
  color: white;

  .nav-section {
    margin: 1em;
  }

  .w-40 {
    width: 40%;
  }

  .w-20 {
    width: 20%;
  }

  .menu-btn {
    border: none;
    background-color: transparent;
    color: white;
    margin-left: 2em;
  }

  .menu-btn:hover {
    background-color:#222;
  }

  .nav-menu {
  }

  .nav-search {
  }
}