:root {
  --v-space: clamp(
    2rem,
    2.2vw,
    3rem
  ); 

  --v-maxPrimaryPageWidth: 1366px;

  --v-imageBorderRadius: 5px;
  
  /* color */
  --v-bgdarkColor: #0d0d0d;
  --v-primaryMainColor:#732650;
  --v-primaryLightColor:#f285c1;
  --v-secondaryMainColor:#f25835;
  --v-secondaryLightColor:#f28444;

  --v-textPrimaryColor: #555;
  --v-textSecondaryColor: #777;
  --v-white: white;

}

body {
  margin: 0;
  font-family:Arial, Helvetica, sans-serif;
  background-color: whitesmoke;
}
.open body {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  color: var(--v-textPrimaryColor);
}

figure {
  margin: 0;
}

code {
  font-family:'Courier New', Courier, monospace;
}

a,
u {
  text-decoration: none;
  color: var(--v-secondaryLightColor);
}

hr {
  color: var(--v-textSecondaryColor);
}

.wContainer {
  width: min(92%, 1366px);
  margin: auto;
}

.img {
  border-radius: var(--v-imageBorderRadius);
}


::-webkit-scrollbar{
  height: 5px;
  width: 5px;
}
::-webkit-scrollbar-track{
  background-color: #ccc;
}
::-webkit-scrollbar-thumb{
  background-color: var(--v-secondaryLightColor);
}